@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import "reset.css";
@import "variables.css";
/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
body{
    color: #2e363e;
   font-family: 'Schoolbell', cursive;
   height: 1000vh;
    cursor: url('cursor .cur'), auto;

}
.main-screen{
    padding:0px var(--horizontal-space);
}
