
.recommended-freinds{
    margin:25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-freinds__title{
    font-size: 14px;
    color: var(--grey);
}
.recommended-freinds span{
    margin: 110px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
     color: var(--grey);
}
.open-chat__header{
    display: flex;
    justify-content:space-between ;
    opacity: 0.8;
    margin-bottom: 25px;
}
.open-chat__header span{
    opacity: 0.6;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin-bottom: 10px;
}
.open-post__title{
    font-weight: 600;
    margin-bottom:10px;
}
.open-post__hashtags{
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post__members{
    display: flex;
    align-items: center;
}
.open-post__members img{
    margin-top: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}
.divider{
    width:1px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--grey);
}
.open-post__member-status{
    color:#ffb0e0
}
.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;

}
.open-post__photo{
    position: relative;
}
.open-post__heart-count{
    color: white;
    background-color: rgba(0, 0, 0,0.5);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right:10px;
    font-size: 12px;
}
.open-post__heart-count span{
    margin-left: 3px;
}












.cog__dot{
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 35px;
}
