.more-screen .icon-row{
    margin-top: 35px;
}
.more-suggestions{
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}
.more-suggestions__title{
    margin-bottom: 30px;
}
.more-suggestions__icons{
    display: flex;

}
.more-suggestions__icon{
    margin-right: 30px;
}
.more-suggestions__icon img{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}
.cog__dot{
    top: 60px;
}