.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
   
    
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
}
.screen-header__icons span{
    margin-left: 25px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
.screen-header__icons{
    position: relative;
}

.cog__dot{
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 10px;
}
@keyframes beating{
  0% {
    transform: none;

  }
  50% {
     transform: scale(2,2);
    color: var(--yellow);
  }
  100%{
    transform: none;
  }


}
@keyframes playMusic{
  from{
    transform: none;
  }
  to{
    border-color: var(--yellow);
    transform: scale(1.5,1.5);
   
  }
  
}

.fa-music:hover{
  animation: beating 0.5s infinite;
}
.fa-music:focus audio{
  color: red;
}
audio{
  margin-left: 90px;
  width: 200px;
}
audio:hover{
  will-change: transform;
  animation: playMusic 0.5s ease-in-out forwards;
}